[mysqld]
datadir=/var/lib/mysql
socket=/run/mysqld/mysql.sock
user=mysql
old_passwords=1
symbolic-links=0
secure-auth=off
bind-address=0.0.0.0
#innodb_flush_method=O_DSYNC
# ?? littlesync
#innodb_use_native_aio=OFF
#log_bin=ON
#innodb_data_file_path = ibdata1:10M:autoextend

lower_case_table_names=1
query_cache_limit=2097152
query_cache_size=16000000

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
